h1 {
  color: red;
}

.carousel-caption {
  top: 50% !important;
}

.about-img img {
  height: 400px;
  width: 100%;
}
img.img34.edel {
    height: 71px;
    margin-bottom: 10px;
}
body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.first {
  -webkit-animation: slide1 2s 0.5s both;
          animation: slide1 2s 0.5s both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  position: absolute;
  left: 50%;
  font-size: 35px;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes slide1 {
  0% {
    top: -200px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 8%;
  }
}

@keyframes slide1 {
  0% {
    top: -200px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 8%;
  }
}
p.about-para {
  letter-spacing: 0.5px;
  color: #767272;
}

.first-para {
  -webkit-animation: firstpara 2s 0.5s both;
          animation: firstpara 2s 0.5s both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  position: absolute;
  top: 20%;
}

.item.itempimg {
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 2px whitesmoke;
}

@-webkit-keyframes firstpara {
  0% {
    right: -100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 25%;
  }
}

@keyframes firstpara {
  0% {
    right: -100px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 25%;
  }
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
  border-radius: 20%;
  background-color: blue;
}

a.sc-7dvmpp-1.dfBDQI {
  display: none;
}

.jlzTty {
  width: 70px !important;
  height: 70px !important;
}

.inner-wrapper {
  height: 180px;
  box-shadow: 0px 10px 33px -17px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  background: linear-gradient(to right, rgba(119, 167, 255, 0.8), rgba(171, 225, 212, 0.6), rgba(144, 120, 233, 0.8));
}

svg {
  background: #00ff37 !important;
}

.readmore {
  font-weight: 300 !important;
  padding: 0%;
}

.gainerstable.loose {
  background: #6f6ff5;
}

table.table.table-loosers {
  color: white;
}

.edelwise {
  height: 100px;
}

.imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 3px 4px #b9b2b2;
  border-radius: 10px;
  height: 155px;
}

img.img34 {
  height: 100px;
}

a.demat {
  width: 171px;
  text-align: center;
  height: 32px;
  border: 1px solid blue;
  border-radius: 20px;
  text-decoration: none;
}

.refercontent {
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.mobile {
  margin-top: 20px;
}

.gainerstable {
  height: 378px;
  min-height: 378px;
  max-height: 400px;
  background-color: aliceblue;
}

.shadow {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.teampaisa {
  background: linear-gradient(to right, rgba(231, 55, 114, 0.8), rgba(132, 88, 235, 0.8));
  border-radius: 30px;
}

.paisa-member {
  border: 1px dotted white;
  background-color: linear-gradient(rgba(231, 55, 114, 0.8), rgba(235, 88, 88, 0.8));
  box-shadow: 2px 4px 5px whitesmoke;
  border-radius: 10px;
}

.refer {
  background-color: rgb(248, 244, 244);
}

.num {
  font-size: 32px;
}

@media (max-width: 768px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
    border-radius: 20%;
    background-color: blue;
  }

  .mobile {
    margin: 30px 0 !important;
  }

  .col-md-4.col-lg-4.col-sm-12.col-xs-12.shadow.medium {
    margin: 20px 0px;
  }
}/*# sourceMappingURL=style.css.map */
